.bouton-precedent {
    color: black;
    font-size: 25px;
    float: left;
    padding-left: 10px;
    padding-top: 18px;
}

.logo-ohmyfood-menu {
    width: 50%;
    padding: 18px;
    padding-left: 0px;
    max-width: 500px;
}

.container-menu {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-image {
    height: 250px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.menu-img-restaurant {
    width: 100%;
}

.menu {
    background-color: white;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-top: 240px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    margin-top: 20px;
}

.affichage-droite {
    float: right;
}

.menu h2 {
    text-decoration: #99E2D0 underline;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(92, 91, 91);
}

.display-progressif {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari et Chrome */
}

.display-rolling {
    animation: rolling 2s;
    -moz-animation: rolling 2s;
    -webkit-animation: rolling 2s;
}

.cellule-menu {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    width: 100%;
    height: 70px;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.cellule-menu-text {
    padding: 5px;
}

.cellule-menu-select {
    position: absolute;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    right: -100px;
    width: 100px;
    height: 100%;
    background: #99E2D0;
    transition: 0.3s;
    flex-grow: 1;
}

.cellule-menu:hover .cellule-menu-select {
    transition: 0.3s;
    right: 0;
}

.cellule-menu:hover .item-rolling {
    animation: rolling 0.5s;
    -moz-animation: rolling 0.5s;
    -webkit-animation: rolling 0.5s;
}

.cellule-menu:hover .cellule-menu-text {
    animation: reduce-text 0.5s;
    animation-fill-mode: forwards;
    -moz-animation: reduce-text 0.5s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation: reduce-text 0.5s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes reduce-text {
    from {
        width: 100%;
    }
    to {
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@-moz-keyframes reduce-text {
    from {
        width: 100%;
    }
    to {
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@-webkit-keyframes reduce-text {
    from {
        width: 100%;
    }
    to {
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.btn-center {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


/* Animation apparition progressive vers le haut */

@keyframes fadein {
    from {
        opacity: 0;
        padding-top: 8px;
        height: 100px;
    }
    to {
        opacity: 1;
        padding-top: 0%;
        height: 70px;
    }
}

@-moz-keyframes fadein {
    /* sur Firefox */
    from {
        opacity: 0;
        padding-top: 8px;
        height: 100px;
    }
    to {
        opacity: 1;
        padding-top: 0%;
        height: 70px;
    }
}

@-webkit-keyframes fadein {
    /* sur Safari et Chrome */
    from {
        opacity: 0;
        padding-top: 8px;
        height: 100px;
    }
    to {
        opacity: 1;
        padding-top: 0%;
        height: 70px;
    }
}


/* Animation Rolling */

@keyframes rolling {
    from {
        transform: rotate(-180deg);
    }
    to {}
}

@-moz-keyframes rolling {
    from {
        rotate: -180deg;
    }
    to {
        rotate: none;
    }
}

@-webkit-keyframes rolling {
    from {
        -webkit-transform: rotate(-180deg);
    }
    to {}
}